<!doctype html>
<html>
<head>
    <title><%= appname %>@<%= version %> demo</title>
</head>
<body>
<h1 style="text-align: center"><%= appname %>@<%= version %> demo</h1>
<script src="/mx_modules/modulex-debug.js"></script>
<script src="/mx_modules/ua-debug.js"></script>
<script src="/mx_modules/feature-debug.js"></script>
<script src="/mx_modules/meta.js"></script>
<script>
    var isBuild = location.href.indexOf('build') !== -1;
    require.config({
        base: '/mx_modules',
        packages: {
            '<%= appname %>': {
                filter: isBuild ? 'debug' : '',
                base: isBuild ? '/build/<%= appname %>' : '/lib/<%= appname %>'
            }
        }
    });
    require('<%= appname %>',function(<%= appname %>){
        //  TODO with <%= appname %>
    });
</script>
</body>
</html>